html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f4f4f4;
}

#left{
    width: 50%;
    height: 100vh;
    background: #4fd1c6;

}
#right{
    width: 50%;
    min-height: 100vh;
    background: #df4d5a;

}

#branding{
    width: 200px;
    height: auto;
}
#submit{
margin-left: 7px;
border: 1px solid #f5f7f700;
border-radius: 5px;
background: #0f778a;
color: #fff;
}
#master-history{
    visibility: hidden;
}